spawn-sh-at-startup "wl-paste --watch cliphist store"

// Черное окно уведомлений ashell при записи экрана.
layer-rule {
  match namespace="^ashell-toast-layer$"
  block-out-from "screencast"
}

// Черное окно KeePassXC при записи экрана.
window-rule {
  match app-id="^org\\.keepassxc\\.KeePassXC$"
  block-out-from "screencast"
}

// Открывать Firefox на весь экран.
window-rule {
  match app-id="^firefox$"
  open-maximized true
}

// Открывать Picture-in-Picture окно Firefox в плавающем режиме.
window-rule {
  match app-id="^firefox$" title="^Picture-in-Picture$"
  open-floating true
}

// Открывать Zed на весь экран.
window-rule {
  match app-id="^dev.zed.Zed$"
  open-maximized true
}

cursor {
  xcursor-theme "breeze_cursors"
  xcursor-size 48

  hide-after-inactive-ms 2500
}

input {
  keyboard {
    xkb {
      layout "us,ru"
      options "grp:alt_shift_toggle"
    }

    repeat-delay 250
    repeat-rate 25
  }

  touchpad {
    tap
    natural-scroll
    accel-profile "flat"
  }

  mouse {
    accel-profile "flat"
  }
}

layout {
  gaps 16

  struts {
    // Для ashell
    bottom -8
  }

  center-focused-column "never"

  background-color "#303446"

  preset-column-widths {
    proportion 0.33
    proportion 0.5
    proportion 0.67
    proportion 1.0
  }

  default-column-width { proportion 0.5; }

  focus-ring {
    width 1
    active-color "#babbf1"
    inactive-color "#626880"
    urgent-color "#e78284"
  }

  border {
    off
  }

  shadow {
    off
  }

  tab-indicator {
    off
  }

  insert-hint {
    on
    color "#babbf1"
  }
}

window-rule {
  geometry-corner-radius 4
  clip-to-geometry true
  tiled-state true
}

hotkey-overlay {
  skip-at-startup
}

// Не сохранять скриншоты на диск.
screenshot-path null

overview {
  backdrop-color "#222222"
}

animations {
  slowdown 0.8
}

binds {
  Mod+Shift+Slash { show-hotkey-overlay; }

  Mod+E     hotkey-overlay-title="Открыть файловый менеджер yazi" { spawn "ghostty" "-e" "yazi"; }
  Mod+T     hotkey-overlay-title="Открыть терминал"               { spawn "ghostty"; }
  Mod+Space hotkey-overlay-title="Открыть менеджер приложений"    { spawn "fuzzel"; }
  Mod+L     hotkey-overlay-title="Заблокировать экран"            { spawn "swaylock"; }
  Mod+P     hotkey-overlay-title="Отключить мониторы"             { power-off-monitors; }

  Mod+V { spawn-sh "cliphist list | fuzzel --dmenu | cliphist decode | wl-copy"; }

  Mod+O repeat=false { toggle-overview; }

  Mod+Q repeat=false { close-window; }

  Mod+A { focus-column-left; }
  Mod+D { focus-column-right; }
  Mod+W { focus-workspace-up; }
  Mod+S { focus-workspace-down; }

  Mod+Shift+A { move-column-left; }
  Mod+Shift+D { move-column-right; }
  Mod+Shift+W { move-column-to-workspace-up; }
  Mod+Shift+S { move-column-to-workspace-down; }

  Mod+1 { focus-workspace 1; }
  Mod+2 { focus-workspace 2; }
  Mod+3 { focus-workspace 3; }
  Mod+4 { focus-workspace 4; }
  Mod+5 { focus-workspace 5; }
  Mod+6 { focus-workspace 6; }
  Mod+7 { focus-workspace 7; }
  Mod+8 { focus-workspace 8; }
  Mod+9 { focus-workspace 9; }
  Mod+Shift+1 { move-column-to-workspace 1; }
  Mod+Shift+2 { move-column-to-workspace 2; }
  Mod+Shift+3 { move-column-to-workspace 3; }
  Mod+Shift+4 { move-column-to-workspace 4; }
  Mod+Shift+5 { move-column-to-workspace 5; }
  Mod+Shift+6 { move-column-to-workspace 6; }
  Mod+Shift+7 { move-column-to-workspace 7; }
  Mod+Shift+8 { move-column-to-workspace 8; }
  Mod+Shift+9 { move-column-to-workspace 9; }

  Mod+R       { switch-preset-column-width; }
  Mod+Shift+R { switch-preset-column-width-back; }

  Mod+F       { maximize-column; }
  Mod+Shift+F { maximize-window-to-edges; }
  Mod+Alt+F   { fullscreen-window; }

  Mod+C { center-column; }

  Mod+M       { toggle-window-floating; }
  Mod+Shift+M { switch-focus-between-floating-and-tiling; }

  Mod+F12      { screenshot show-pointer=false; }
  Mod+Ctrl+F12 { screenshot-screen show-pointer=false; }
  Mod+Alt+F12  { screenshot-window show-pointer=false; }

  XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
  XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
  XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
  XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
  XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
  XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
  XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
  XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

  XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
  XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }
}
